<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
  </head>
  <body>
  <div class="wrapper">
  <%= render 'layouts/header' %>
    <%= yield %>
    
    </div>
  </body>
</html>